/.idea
/vendor
/node_modules
.env
.env.*
/storage/*.key
/storage/*.key.*
/public/storage
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
/npm-debug.log
/yarn-error.log
/homestead.yaml
/Homestead.json
/.vscode
.phpunit.result.cache
/.php_cs.cache
/.php-cs-fixer.cache
/.DS_Store

# compiled files
/public/hot
/public/storage
*.log
.env.backup
.env.production
.phpactor.json
/.fleet
/.nova
/.phpunit.cache
/.zed
/auth.json
/public/build
/storage/pail
Thumbs.db

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public_html/storage
public_html/hot

# Vagrant
/.vagrant

