/.idea
/vendor
/node_modules
.env
.env.*
/storage/*.key
/storage/*.key.*
/public/storage
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
/npm-debug.log
/yarn-error.log
/homestead.yaml
/Homestead.json
/.vscode
.phpunit.result.cache
/.php_cs.cache
/.php-cs-fixer.cache
/.DS_Store

# compiled files
/public/hot
/public/storage
*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
